{% extends "network/layout.html" %}
{% load static %}

{% block body %}
    <h2>All Posts</h2>
    {% for post in posts %}
        <div class="post">
            <div class="card mb-3">
                <div class="card-body">
                    <h5 class="card-title">{{ post.user.username }}</h5>
                    <p id="post-content-{{ post.id }}" class="card-text">{{ post.content }}</p>
                    <p class="card-text"><small class="text-muted">{{ post.timestamp }}</small></p>
                    <p id="like-count-{{ post.id }}" class="card-text">Likes: {{ post.like_count }}</p>
                    <button class="btn btn-sm btn-primary like-button {% if post.id in liked_posts %}liked{% endif %}" data-post-id="{{ post.id }}">
                        {% if post.id in liked_posts %}Unlike{% else %}Like{% endif %}
                    </button>
                    {% if post.user == user %}
                        <button class="btn btn-sm btn-primary edit-button" data-post-id="{{ post.id }}">Edit</button>
                    {% endif %}
                </div>
            </div>
        </div>
    {% empty %}
        <p>No posts yet.</p>
    {% endfor %}
    <script src="{% static 'network/edit_post.js' %}"></script>
    <script src="{% static 'network/like_post.js' %}"></script>
{% endblock %}
